.header {
  z-index: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
}

.header.mp {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
}

.h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 70px;
  line-height: 1.3em;
  font-weight: 300;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.h1.ruh {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: none;
}

.body {
  border: 20px none #313131;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.5em;
  font-weight: 400;
}

.header-left {
  float: left;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.header-right {
  margin-top: 4px;
  float: right;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.sd {
  position: absolute;
  left: 50%;
  bottom: 0px;
  z-index: 999;
  margin-bottom: 30px;
  opacity: 1;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
  text-align: center;
}

.btn {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 12px 25px;
  border-radius: 3px;
  background-color: #1365e7;
  box-shadow: 0 6px 16px 0 rgba(7, 21, 66, .29);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.btn:hover {
  box-shadow: none;
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}

.btn.messenger {
  background-color: #0080ff;
}

.btn.messenger:hover {
  box-shadow: none;
}

.btn.telegram {
  background-color: #179cdd;
}

.btn.slack {
  background-color: #5c3a58;
  background-image: -webkit-linear-gradient(270deg, #8d8d8d, #8d8d8d);
  background-image: linear-gradient(180deg, #8d8d8d, #8d8d8d);
  box-shadow: none;
  opacity: 0.3;
}

.btn.wechat {
  background-color: #d6d6d6;
  background-image: -webkit-linear-gradient(270deg, #8d8d8d, #8d8d8d);
  background-image: linear-gradient(180deg, #8d8d8d, #8d8d8d);
  box-shadow: none;
  opacity: 0.3;
}

.btn.letters-btn {
  margin-right: 0px;
  font-weight: 700;
}

.btn.btn2 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.btn.lawyerbtn {
  margin-right: 20px;
  margin-bottom: 0px;
}

.btn.visaitem {
  margin-right: 0px;
  padding: 9px 20px;
  font-size: 14px;
}

.btn.visaitem.soon {
  border: 1px solid #e9e9e9;
  background-color: #fff;
  box-shadow: none;
  color: #bbb;
}

.btn.visaitem.soon:hover {
  -webkit-filter: none;
  filter: none;
}

.btn.gkabtn {
    margin-right: 0px;
    padding: 9px 20px;
    background-color: #dc5224;
}

.btn.phbtn {
  margin: 0px 30px;
  padding: 10px 20px 10px 15px;
  background-color: #fff;
  box-shadow: 0 6px 16px 0 rgba(61, 61, 61, .29);
  color: #333;
}

.btn.phbtn:hover {
  box-shadow: none;
  -webkit-filter: none;
  filter: none;
}

.loading-block {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9000;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url('../images/robo-animation.svg');
  background-position: 50% 50%;
  background-size: 50px;
  background-repeat: no-repeat;
}

.fastmes-messenger {
  display: none;
  padding: 10px;
  border-radius: 100px;
  background-color: #0080ff;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  line-height: 0px;
}

.cont2 {
  text-align: center;
}

.cont2.cont-about {
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
}

.h3 {
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 1.3em;
  font-weight: 400;
}

.h3.about {
  font-size: 50px;
  line-height: 1.3em;
}

.h3.dps {
  margin-top: 0px;
  margin-bottom: 20px;
}

.h3.ru {
  margin-bottom: 10px;
}

.pic-recog {
  margin-top: 250px;
}

.voice-recog {
  margin-top: 250px;
}

.h4 {
  margin-top: -13px;
  font-size: 36px;
  line-height: 1.3em;
  font-weight: 400;
  text-align: center;
}

.h4.h5 {
  text-align: left;
}

.p-adv {
  opacity: 0.8;
  font-size: 15px;
  line-height: 1.5em;
}

.h-adv {
  font-size: 24px;
  line-height: 1.5em;
  font-weight: 400;
}

.adv-row {
  margin-top: 70px;
  text-align: center;
}

.cstmbtn-icon {
  margin-top: -2px;
  margin-right: 10px;
}

.cstmbtn-text {
  display: inline-block;
}

.interface {
  box-shadow: 0 3px 40px 0 rgba(0, 0, 0, .15);
}

.p-recog {
  margin-top: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.chatra-fixed {
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  display: none;
  margin-right: 30px;
  margin-bottom: 30px;
}

.visabot-tlogo {
  display: none;
}

.header-logo {
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.header-logo:hover {
  opacity: 0.8;
}

.header-logo.w--current:hover {
  opacity: 0.6;
}

.sect-0 {
  height: 100vh;
  border: 20px none #1365e7;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4));
  color: #fff;
}

.heroblock {
  position: relative;
  top: 50%;
  display: block;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
  text-align: center;
}

.heroblock.heroru {
  max-width: 700px;
  margin-left: 0px;
  text-align: left;
}

.hero-phone {
  position: absolute;
  right: -100px;
  bottom: -120px;
}

.hero-phone.ruphone {
  right: -170px;
  bottom: -100px;
}

.footer {
  padding-top: 65px;
  padding-bottom: 60px;
  background-color: #191716;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  text-align: center;
}

.footer-link {
  display: none;
  margin-right: 15px;
  margin-left: 15px;
  float: right;
  color: #999;
  font-size: 12px;
  line-height: 1em;
  text-decoration: none;
}

.footer-link:hover {
  color: #1365e7;
}

.p0 {
  max-width: 500px;
  margin: 20px auto 30px;
  font-size: 21px;
  line-height: 1.6em;
  font-weight: 300;
  text-align: center;
}

.p0.left {
  text-align: left;
}

.p0.hero {
  max-width: none;
  margin-right: 0px;
  margin-left: 0px;
}

.p0.hero.ru {
  max-width: 600px;
  line-height: 1.8em;
  text-align: left;
}

.p0.ru-photo-p2 {
  max-width: none;
  margin-top: 10px;
  margin-bottom: 60px;
  text-align: left;
}

.hero-hand-shade {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  opacity: 0.41;
  -webkit-filter: blur(50px) brightness(0%);
  filter: blur(50px) brightness(0%);
  -webkit-transform: translate(56px, 74px);
  -ms-transform: translate(56px, 74px);
  transform: translate(56px, 74px);
}

.hero-hand-shade.ruphoneshade {
  z-index: -1;
  opacity: 0.8;
  -webkit-filter: blur(50px) brightness(0%);
  filter: blur(50px) brightness(0%);
}

.footer-cr {
  display: block;
  color: #666;
  font-size: 12px;
  line-height: 1em;
}

.adv-col1 {
  box-shadow: none;
}

.adv-col1.afasf {
  background-color: transparent;
}

.section {
  overflow: hidden;
  padding-top: 120px;
  padding-bottom: 120px;
  border-bottom: 1px solid #e0e0e0;
}

.section.sect-visa {
  border-bottom-style: solid;
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  text-align: center;
}

.section.sect-partners {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom-style: none;
  color: #fff;
  text-align: center;
}

.section.sect-recom {
  border-bottom-style: solid;
}

.section.sect-sn {
  background-color: #1365e7;
  color: #fff;
}

.section.sect-about {
  position: relative;
  overflow: hidden;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #1365e7;
  color: #fff;
}

.section.visas {
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom-style: none;
  text-align: center;
}

.section.visaintro {
  position: relative;
  background-color: #1365e7;
  color: #fff;
  text-align: center;
}

.section.question {
  display: none;
  padding-bottom: 140px;
  border-bottom-style: solid;
  background-image: url('../images/Untitled-1.jpg');
  background-position: 50% 100%;
  background-size: auto;
  background-repeat: no-repeat;
}

.section.lawyers {
  padding-bottom: 90px;
}

.section.comments {
  text-align: center;
}

.section.dps {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.section.sect-stats {
  border-bottom-style: none;
  background-color: #1365e7;
  color: #fff;
}

.visa-item {
  position: relative;
  display: inline-block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 25px 40px 47px;
  border: 1px none #dadada;
  color: #999;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.visa-item:hover {
  background-color: #e7f0ff;
}

.visa-item.active {
  border-width: 2px;
  border-color: #1364e7;
  background-color: #1364e7;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, .14);
  color: #fff;
}

.visa-item.sec {
  border-right-style: none;
}

.visa-item.sec.clickbl {
  box-shadow: none;
  color: #1364e7;
}

.visa-item.sec.clickbl:hover {
  background-color: #e7f0ff;
}

.visaitems-block {
  text-align: center;
}

.visa-item-cont {
  text-align: center;
}

.docs-col {
  text-align: left;
}

.letters-wrapper {
  margin-top: 40px;
}

.letters-item {
  display: inline-block;
  width: 30%;
  margin-right: 15px;
  margin-left: 15px;
  padding: 20px;
  border: 1px solid #dadada;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, .09);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.letters-item:hover {
  box-shadow: 0 3px 27px 0 rgba(0, 0, 0, .17);
}

.letters-item.lione {
  border-width: 2px;
  border-color: #2dd189;
}

.letters-item.litwo {
  border-width: 2px;
  border-color: #1364e7;
}

.letters-item.lithree {
  border-width: 2px;
  border-color: #001191;
}

.letters-p {
  display: block;
  max-width: 180px;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  line-height: 1.5em;
}

.letters-price {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #0e4aff;
  font-size: 30px;
  font-weight: 400;
}

.letters-price.litwo {
  color: #1364e7;
}

.letters-price.lithree {
  color: #001191;
}

.letters-price.lione {
  color: #2dd189;
}

.recog-row {
  margin-top: 50px;
}

.team-item {
  display: inline-block;
  width: 215px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
}

.team-item-avatar {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 150px;
  border-radius: 100px;
  background-color: #e9e9e9;
}

.team-item-name {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.5em;
}

.team-item-pos {
  color: #8f8f8f;
  font-size: 13px;
  line-height: 1.5em;
}

.team-h {
  margin-bottom: 30px;
  color: #999;
  font-size: 13px;
  letter-spacing: 20px;
  text-transform: uppercase;
}

.team-wrapper {
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px none #dfdfdf;
}

.team-wrapper.last {
  border-bottom-style: none;
}

.fi-biglogo {
  display: inline-block;
  width: 500px;
}

.team-item-logo {
  margin-top: 10px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.team-item-logo.sb {
  margin-top: 13px;
  margin-bottom: 13px;
}

.team-item-sn-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, .7);
  opacity: 0;
}

.team-item-sn-fb {
  display: block;
  width: 75px;
  height: 100%;
  float: left;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background-image: url('../images/fb.svg');
  background-position: 50% 50%;
  background-size: 30px;
  background-repeat: no-repeat;
}

.team-item-sn-fb:hover {
  background-color: #1365e7;
}

.team-sn-in {
  display: block;
  width: 75px;
  height: 100%;
  float: left;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  background-image: url('../images/in.svg');
  background-position: 50% 50%;
  background-size: 30px;
  background-repeat: no-repeat;
}

.team-sn-in:hover {
  background-color: #1365e7;
}

.team-sn-in.twleft {
  background-image: url('../images/twitter-white.svg');
  background-size: 25px;
}

.visa-item-soonlabel {
  position: absolute;
  left: 50%;
  top: 0px;
  padding: 4px 8px;
  border: 1px solid #dadada;
  border-radius: 100px;
  background-color: #fff;
  -webkit-transform: translate(-50%, 51px);
  -ms-transform: translate(-50%, 51px);
  transform: translate(-50%, 51px);
  font-size: 9px;
  line-height: 1em;
  font-weight: 700;
}

.visa-user {
  text-align: center;
}

.visa-p0 {
  display: block;
  max-width: 500px;
  margin: 20px auto 40px;
  font-size: 21px;
  line-height: 1.5em;
  font-weight: 300;
}

.visa-user-ava {
  display: block;
  width: 350px;
  height: 350px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  border: 15px none #0029ff;
  border-radius: 50%;
  background-image: url('../images/mika.jpg');
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: 0 12px 40px 0 rgba(0, 0, 0, .32);
}

.visa-user-ava.efim {
  background-image: url('../images/efim2.jpg');
  background-size: cover;
}

.visa-user-stat {
  margin-top: 90px;
  text-align: right;
}

.visa-user-name {
  font-size: 33px;
  line-height: 1.5em;
}

.visa-user-name.ek {
  line-height: 1.3em;
}

.visa-user-perc {
  color: #67c948;
  font-size: 66px;
  line-height: 1.2em;
  font-weight: 400;
}

.visa-user-label {
  font-size: 12px;
  line-height: 1.5em;
}

.visa-user-mes {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 130px;
  float: left;
}

.vb-logolast {
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 14px 25px 0 rgba(13, 71, 163, .38);
}

.hero-phone-interface {
  position: absolute;
  margin-top: 58px;
  margin-left: 72px;
}

.header-link {
  padding: 35px 20px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #333;
  line-height: 0em;
  font-weight: 600;
  text-decoration: none;
}

.header-link:hover {
  opacity: 0.6;
}

.header-link.w--current {
  color: #333;
}

.header-link.mp {
  -webkit-transition: color 200ms ease, opacity 200ms ease;
  transition: color 200ms ease, opacity 200ms ease;
  color: #fff;
  text-align: center;
}

.header-link.mp:hover {
  opacity: 0.7;
}

.header-link.mp.soc {
  padding-top: 24px;
  padding-right: 5px;
  padding-bottom: 24px;
}

.header-link.soc {
  padding-top: 25px;
  padding-right: 5px;
  padding-bottom: 25px;
}

.lawyers-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
  padding: 30px 30px 40px;
  box-shadow: none;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.lawyers-item:hover {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.lawyer-ava {
  display: block;
  overflow: hidden;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.lawyer-ava:hover {
  opacity: 0.7;
}

.lawyer-info {
  display: block;
  float: left;
  text-align: left;
}

.lawyer-info-name {
  font-size: 27px;
  line-height: 1.5em;
  font-weight: 600;
}

.lawyer-info-place {
  font-size: 13px;
}

.lawyer-works-block {
  width: 340px;
  margin-right: -22px;
  float: right;
  border: 1px none #e9e9e9;
  text-align: center;
}

.lawyer-works-col {
  width: 33.33333333%;
  float: left;
  border-right: 1px none #e7e7e7;
}

.lawyer-works-col.seccol {
  border-right-style: none;
}

.lawyer-info-sc {
  font-size: 27px;
  line-height: 1.5em;
  font-weight: 600;
}

.lawyer-info-sc.sr {
  color: #1365e7;
}

.lawyer-info-sc.sc {
  color: #48c99b;
}

.lawyer-info-label {
  color: #919191;
  font-size: 12px;
  line-height: 1.5em;
}

.price-item {
  display: block;
  width: 30%;
  margin-right: 15px;
  margin-left: 15px;
  padding: 30px;
  float: left;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .3);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-align: center;
}

.price-item:hover {
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, .2);
  -webkit-transform: translate(0px, -10px);
  -ms-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}

.price-p {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-right: 10px;
  line-height: 1.5em;
  font-weight: 400;
}

.price-cost {
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #2dd189;
  font-size: 36px;
  line-height: 0.7em;
  font-weight: 400;
}

.price-cost.two {
  color: #2d97df;
}

.price-cost.three {
  color: #1365e7;
}

.price-p2 {
  margin-top: -10px;
  margin-bottom: 20px;
  color: #00b968;
  font-size: 12px;
  line-height: 1em;
}

.price-wrapper {
  margin-top: 50px;
}

.lawyer-fb-block {
  border-bottom: 1px none #e7e7e7;
}

.lawyer-fb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  text-align: left;
}

.lawyer-fb-ava {
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.lawyer-fb-ava:hover {
  opacity: 0.7;
}

.lawyer-fb-name {
  display: inline-block;
  margin-right: 10px;
  font-weight: 600;
}

.lawyer-fb-mes {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.lawyer-fb-stars {
  display: inline-block;
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
  line-height: 0em;
}

.lawyer-fb-mestext {
  margin-top: 5px;
  color: #6b6b6b;
}

.lawyer-item-rc {
  margin-left: 30px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.lawyer-info-block {
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 30px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.lawyer-slider {
  height: 100%;
  background-color: transparent;
}

.slider-arrow {
  margin-right: -100px;
  margin-left: -100px;
  color: #333;
}

.slider-arrow:hover {
  color: #0e4aff;
}

.lawyer-slider-arrow {
  margin-top: 69.5px;
}

.hiw-stepblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hiw-stepblock.lastitem {
  margin-bottom: 0px;
}

.hiw-num {
  display: inline-block;
  margin-right: -17px;
  float: right;
  background-color: #fff;
  color: #1364e7;
  font-size: 50px;
  line-height: 1.5em;
  font-weight: 300;
}

.hiw-p {
  margin-top: 21px;
  margin-right: 60px;
  font-size: 27px;
  line-height: 1.5em;
  font-weight: 300;
}

.hiw-col1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-right: 1px solid #e4e4e4;
}

.hiw-col1.last {
  border-right-color: #fff;
}

.hiw-col2 {
  padding-bottom: 100px;
  padding-left: 60px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hiw-cont {
  border-left: 1px none #47c99a;
}

.partner-left {
  padding-top: 180px;
  padding-bottom: 180px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/fi2.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/fi2.jpg');
  background-position: 0px 0px, 100% 50%;
  background-size: auto, cover;
}

.partner-right {
  padding-top: 180px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/sls.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/sls.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.team-items-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.sn-bigicon {
  margin-top: 20px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 15px 15px 15px 28px;
  border-style: solid;
  border-width: 2px;
  border-color: hsla(0, 0%, 100%, .3);
  border-radius: 3px;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.sn-bigicon:hover {
  border-color: #fff;
}

.h2 {
  margin-top: -8px;
  font-size: 24px;
  line-height: 1.5em;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.partner-link {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.partner-link:hover {
  opacity: 0.6;
}

.img-block {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.visa-item-text {
  -webkit-transform: translate(0px, 10px);
  -ms-transform: translate(0px, 10px);
  transform: translate(0px, 10px);
}

.mp-visaitem {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 30px 20px 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 1px solid #dadada;
  border-radius: 3px;
  box-shadow: none;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  color: #999;
}

.mp-visaitem:hover {
  box-shadow: 0 13px 21px 0 rgba(0, 0, 0, .1);
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
}

.mp-visaitem.enabled {
  border: 2px solid #1365e7;
  color: #333;
}

.mp-visaitems {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mp-visaitem-h {
  margin-bottom: 15px;
  font-size: 21px;
  line-height: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
}

.mp-visaitem-p {
  color: #8b8b8b;
  font-size: 15px;
  line-height: 1.5em;
}

.b2extension-p0 {
  display: block;
  max-width: 700px;
  color: #525252;
  font-size: 15px;
  line-height: 1.6em;
}

.b2extension-h0 {
  display: block;
  max-width: 700px;
  font-size: 27px;
  font-weight: 400;
}

.b2extension-p1 {
  display: block;
  max-width: 700px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
  line-height: 1.5em;
}

.particlesjs {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.b2extension-form {
  margin-top: 36px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-style: solid none none;
  border-width: 1px;
  border-color: #e4e4e4;
}

.b2extension-form-title {
  margin-bottom: 10px;
  color: #1365e7;
  font-size: 30px;
  line-height: 1.5em;
}

.b2extension-about-full {
  display: none;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.link {
  display: block;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #1365e7;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.link:hover {
  opacity: 0.7;
}

.lawer-slider-nav {
  display: none;
}

.popup {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  display: none;
  background-color: hsla(0, 0%, 100%, .8);
}

.popup-block {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 600px;
  padding: 40px 40px 60px;
  border: 3px solid #1365e7;
  background-color: #fff;
  box-shadow: 0 7px 31px 0 rgba(0, 0, 0, .18);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.popup-h {
  margin-top: 20px;
  font-size: 30px;
  line-height: 1.3em;
  font-weight: 400;
}

.popup-p {
  font-size: 21px;
  line-height: 1.5em;
  font-weight: 300;
}

.popup-close {
  width: 18px;
  height: 18px;
  float: right;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  line-height: 0em;
}

.popup-close:hover {
  opacity: 0.5;
}

.mp-visaitems-wrapper {
  margin-top: -10px;
}

.header-hamb {
  color: #333;
}

.about-row {
  margin-top: 40px;
  text-align: center;
}

.about-p {
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.5em;
}

.about-link {
  display: block;
  margin-top: 20px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #666;
  font-size: 18px;
  line-height: 1.5em;
  text-decoration: none;
}

.about-link:hover {
  color: #1365e7;
}

.about-name {
  font-weight: 700;
}

.about-vb {
  margin-top: 15px;
  margin-bottom: 15px;
}

.about-item {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.about-item:hover {
  -webkit-filter: none;
  filter: none;
}

.oth-col {
  padding-right: 70px;
  padding-left: 70px;
  border-right: 1px solid #e0e0e0;
}

.oth-col.lastcol {
  border-right-style: none;
}

.cmmnts-count {
  display: inline-block;
  -webkit-transform: translate(0px, -19px);
  -ms-transform: translate(0px, -19px);
  transform: translate(0px, -19px);
  color: #1365e7;
  font-size: 18px;
  font-weight: 700;
}

.cmmnts-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  text-align: left;
}

.cmmnts-mesblock {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.cmmnts-p {
  margin-top: 10px;
  color: #666;
}

.cmmnts-date {
  color: #999;
  font-size: 13px;
}

.cmmnts-wrapper {
  max-width: 760px;
  margin-right: auto;
  margin-bottom: -40px;
  margin-left: auto;
}

.cmmnts-textfield {
  display: inline-block;
  height: 50px;
  max-width: 660px;
  margin-top: 5px;
  padding: 14px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.cmmnts-send {
  padding: 14px 25px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #1365e7;
  box-shadow: 0 6px 16px 0 rgba(7, 21, 66, .29);
  font-weight: 700;
}

.ph {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #da542f;
  color: #fff;
  text-align: center;
}

.ph-p {
  display: inline-block;
  font-size: 18px;
}

.ph-p.hash {
  margin-right: 50px;
  font-weight: 700;
}

.ph-wrapper {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.stats-num {
  font-size: 72px;
  line-height: 1.5em;
}

.stats-desc {
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.sharebtns {
  margin-top: 20px;
}

.herocont-ru {
  position: relative;
  height: 100%;
}

.ru-price-row {
  margin-bottom: 40px;
}

.ru-price-list {
  padding-left: 20px;
  text-align: left;
}

.ru-price-listitem {
  margin-top: 6px;
}

.ru-price-item {
  width: 50%;
  padding-top: 0px;
  padding-right: 40px;
  padding-left: 40px;
  color: #666;
}

.ru-price-item.rightitem {
  border-left: 1px solid #e0e0e0;
}

.ru-price-table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 50px -20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.ru-price-p {
  display: block;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
}

.ru-photo-listitem {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 3px;
  background-color: #f1f1f1;
  box-shadow: none;
  font-size: 16px;
  line-height: 1.6em;
}

.ru-photo-p1 {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.6em;
}

.ru-photo-list {
  margin-top: 40px;
  margin-bottom: 40px;
}

.ru-photo-cont {
  display: block;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.space-30px {
  height: 30px;
}

.hash-link {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #1365e7;
  text-decoration: none;
}

.hash-link:hover {
  opacity: 0.7;
}

.insta-row {
  margin-top: 50px;
}

.insta-link {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.insta-link:hover {
  opacity: 0.7;
}

.gka {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #3a3a3a;
  text-align: center;
}

.gka-logo {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

.gka-text {
  display: inline-block;
  margin-right: 20px;
  margin-left: 40px;
  color: #e3c006;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

html.w-mod-js *[data-ix="loading"] {
  display: block;
}

html.w-mod-js *[data-ix="hero-phone"] {
  opacity: 0;
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

html.w-mod-js *[data-ix="hero-text"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="chatanimate"] {
  -webkit-transform: translate(0px, 280px);
  -ms-transform: translate(0px, 280px);
  transform: translate(0px, 280px);
}

html.w-mod-js *[data-ix="loading1"] {
  opacity: 0;
  -webkit-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}

html.w-mod-js *[data-ix="loading-2"] {
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}

html.w-mod-js *[data-ix="show1"] {
  opacity: 0;
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

html.w-mod-js *[data-ix="show-2"] {
  opacity: 0;
  -webkit-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate(-100px, 0px);
}

html.w-mod-js *[data-ix="show-3"] {
  opacity: 0;
  -webkit-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate(100px, 0px);
}

@media (max-width: 991px) {
  .header {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .11);
  }
  .h1 {
    font-size: 60px;
  }
  .btn.lawyerbtn {
    width: 100%;
    text-align: center;
  }
  .cont2.cont-about {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .h3 {
    font-size: 33px;
  }
  .h3.about {
    font-size: 42px;
  }
  .h4 {
    font-size: 33px;
    line-height: 1.3em;
  }
  .chatra-fixed {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .sect-0 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .heroblock.heroru {
    text-align: center;
  }
  .footer {
    padding-top: 35px;
    padding-bottom: 40px;
  }
  .p0.hero.ru {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .section {
    padding: 100px 40px;
  }
  .section.sect-partners {
    padding-right: 0px;
    padding-left: 0px;
  }
  .section.sect-ai {
    border-bottom-style: solid;
  }
  .section.visas {
    padding-right: 0px;
    padding-left: 0px;
  }
  .visa-item {
    padding-right: 30px;
    padding-left: 30px;
  }
  .letters-item {
    margin-right: 10px;
    margin-left: 10px;
  }
  .team-item {
    width: 200px;
  }
  .visa-user-name {
    font-size: 28px;
  }
  .visa-user-perc {
    font-size: 60px;
  }
  .header-link {
    padding: 25px 0px;
    text-align: center;
  }
  .header-link.mp {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
  }
  .header-link.soc {
    padding-right: 20px;
    padding-left: 20px;
  }
  .lawyers-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .lawyer-works-block {
    margin-top: 10px;
    float: right;
  }
  .lawyer-works-col {
    text-align: left;
  }
  .lawyer-info-sc {
    font-size: 21px;
  }
  .lawyer-item-lc {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .lawyer-item-rc {
    margin-left: 0px;
  }
  .lawyer-info-block {
    border-top-style: none;
  }
  .slider-arrow {
    margin-right: -30px;
    margin-left: -30px;
  }
  .popup-block {
    width: 100%;
  }
  .header-hamb {
    margin-top: 5px;
  }
  .header-hamb.w--open {
    background-color: #0063ff;
  }
  .header-nav {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .41);
  }
  .cmmnts-textfield {
    width: 100%;
    max-width: none;
  }
  .cmmnts-send {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .h1 {
    font-size: 45px;
  }
  .btn.letters-btn {
    padding: 9px 20px;
    font-size: 13px;
    line-height: 1.5em;
  }
  .h3 {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 1.5em;
  }
  .pic-recog {
    position: static;
    margin-top: 0px;
  }
  .voice-recog {
    position: static;
    margin-top: 20px;
    text-align: center;
  }
  .h4 {
    margin-top: 0px;
    font-size: 24px;
  }
  .h-adv {
    font-size: 21px;
    line-height: 1.4em;
  }
  .adv-row {
    text-align: left;
  }
  .p-recog {
    display: inline-block;
    margin-top: 20px;
    text-align: left;
  }
  .header-logo {
    padding-left: 20px;
  }
  .sect-0 {
    height: auto;
  }
  .heroblock {
    position: static;
    top: 0%;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .heroblock.heroru {
    margin-top: 120px;
  }
  .hero-phone {
    display: none;
  }
  .footer {
    padding: 20px;
  }
  .p0 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
  }
  .p0.left {
    text-align: center;
  }
  .adv-col1 {
    text-align: center;
  }
  .section {
    padding: 40px 20px;
  }
  .section.lawyers {
    padding-bottom: 40px;
  }
  .section.dps {
    margin-bottom: 1px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .visa-item {
    display: block;
    width: 100%;
    padding: 10px 20px;
    border-bottom-style: solid;
    text-align: left;
  }
  .docs-col {
    text-align: center;
  }
  .letters-item {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
  }
  .letters-p {
    max-width: none;
  }
  .team-item {
    width: 150px;
  }
  .team-item-avatar {
    width: 120px;
  }
  .team-item-name {
    font-size: 16px;
  }
  .team-item-pos {
    font-size: 12px;
  }
  .fi-biglogo {
    width: 400px;
  }
  .visa-item-soonlabel {
    left: auto;
    top: 0px;
    right: 20px;
    -webkit-transform: translate(0%, 50%);
    -ms-transform: translate(0%, 50%);
    transform: translate(0%, 50%);
  }
  .visa-p0 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
  }
  .visa-user-stat {
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
  }
  .visa-user-mes {
    margin-top: 0px;
    float: none;
  }
  .header-link {
    padding-left: 0px;
  }
  .lawyer-info {
    float: none;
    text-align: center;
  }
  .lawyer-info-name {
    font-size: 24px;
  }
  .lawyer-works-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .lawyer-works-col {
    text-align: center;
  }
  .visa-item-text {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .mp-visaitems {
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .mp-visaitem-h {
    font-size: 21px;
  }
  .b2extension-h0 {
    font-size: 18px;
  }
  .b2extension-p1 {
    font-size: 18px;
  }
  .b2extension-about-full {
    display: block;
  }
  .link {
    font-size: 15px;
  }
  .popup-h {
    font-size: 24px;
  }
  .popup-p {
    margin-top: 0px;
    font-size: 15px;
  }
  .header-hamb.w--open {
    background-color: #1364e7;
  }
  .header-nav {
    padding-right: 0px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
  }
  .about-item {
    margin-bottom: 30px;
  }
  .oth-col {
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    border-right-style: none;
  }
  .ph-p.hash {
    display: none;
  }
  .stats-num {
    font-size: 60px;
  }
  .gka {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .gka-text {
    font-size: 15px;
  }
}

@media (max-width: 479px) {

  .gka {
    opacity: 0;
  }

  .header {
    opacity: 0;
  }
  .h1 {
    margin-bottom: 0px;
    font-size: 30px;
    letter-spacing: 0px;
  }
  .header-left {
    float: none;
  }
  .btn {
    display: block;
    width: 100%;
    padding: 10px 20px;
    font-size: 13px;
  }
  .btn.phbtn {
    margin-right: 0px;
    margin-left: 0px;
  }
  .cont2.cont-about {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .h3 {
    font-size: 24px;
    line-height: 1.3em;
  }
  .h3.about {
    margin-top: 0px;
    font-size: 24px;
  }
  .h4 {
    margin-top: -5px;
    font-size: 24px;
  }
  .adv-row {
    margin-top: 0px;
    text-align: center;
  }
  .visabot-tlogo {
    width: 60%;
  }
  .sect-0 {
    padding-right: 0px;
    padding-left: 0px;
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('Assets/usa_kitten.png');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('Assets/usa_kitten.png');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
  .heroblock {
    margin-top: 100px;
    margin-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .hero-phone {
    display: none;
  }
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .footer-link {
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 15px;
    float: none;
  }
  .p0 {
    font-size: 15px;
  }
  .p0.hero {
    margin-bottom: 20px;
  }
  .footer-cr {
    display: block;
    width: 100%;
    float: none;
  }
  .adv-col1 {
    margin-top: 30px;
  }
  .section {
    padding: 30px 10px;
  }
  .section.sect-partners {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section.sect-sn {
    padding-right: 0px;
    padding-left: 0px;
  }
  .section.question {
    padding-bottom: 30px;
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }
  .section.lawyers {
    padding-bottom: 0px;
  }
  .section.dps {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .visa-item {
    font-size: 13px;
  }
  .letters-wrapper {
    margin-top: 20px;
  }
  .letters-price {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
  }
  .team-item {
    margin-bottom: 40px;
  }
  .team-h {
    letter-spacing: 0px;
  }
  .team-wrapper {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .visa-user-ava {
    width: 260px;
    height: 260px;
  }
  .visa-user-name {
    font-size: 24px;
  }
  .visa-user-perc {
    font-size: 36px;
  }
  .lawyers-item {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .lawyer-works-block {
    width: 100%;
  }
  .slider-arrow {
    margin-right: 0px;
    margin-left: 0px;
  }
  .partner-left {
    padding: 60px 20px;
  }
  .partner-right {
    padding: 60px 20px;
  }
  .team-items-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .sn-bigicon {
    display: block;
    padding: 10px 20px;
  }
  .h2 {
    font-size: 18px;
    letter-spacing: 2px;
  }
  .mp-visaitem {
    padding: 20px 20px 10px;
  }
  .mp-visaitem.enabled {
    padding-top: 20px;
  }
  .mp-visaitem-h {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .mp-visaitem-p {
    font-size: 13px;
  }
  .b2extension-p1 {
    font-size: 15px;
  }
  .b2extension-about-full {
    display: none;
  }
  .popup-block {
    padding: 20px 20px 40px;
  }
  .popup-p {
    margin-bottom: 20px;
  }
  .header-nav {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
  }
  .ph {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .ph-p {
    margin-bottom: 8px;
    font-size: 15px;
  }
  .gka-text {
    display: inline-block;
    margin-right: 15px;
    margin-left: 0px;
  }
}
